.page-body {
  font-family: sans-serif;
  background-color: #ffffff;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  margin-bottom: 50px;
  padding-top: 63px;
}

.logo {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  display: block;
}

.logo-part {
  color: #4bcaff;
}

.menu-header {
  list-style-type: none;
  background-color: #35444f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0;
}

.menu-header-item {
  border-left: #ffffff solid 1px;
}

.last-item {
  border-right: #ffffff solid 1px;
}

.menu-header-item-link {
  display: block;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding: 24px 40px 18px 40px;
}

.menu-header-item-link:hover {
background-color: #222F3A;
}

.main-box {
  display: flex;
  justify-content: space-between;
}

.main-aside {
  width: 344px;
}

.menu-aside {
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.0001);
  border: #000000 solid 1px;
  margin: 0;
}

.menu-aside-item-link {
  display: block;
  color: #495863;
  font-size: 27px;
  line-height: 27px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.menu-aside-item-link:hover{
    color: #000000;
    background-color: #DBDBDB;
    padding-left: 40px;
}

.main-image-text-box {
  width: 885px;
}

.main-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000000 solid 1px;
  width: 885px;
  height: 529px;
}

.main-image {
    transition: width 2s, height 2s;
}

.main-image:hover {
width: 352px;
height: 419px;
}

.main-text {
  color: #2c2c2c;
  font-size: 18px;
  line-height: 24px;
  margin-top: 35px;
  margin-bottom: 0;
}

.page-footer {
    margin: 54px 0 0;
    padding-bottom: 30px;
}

.footer-box {
    background-color: #63696E7A;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    padding-top: 20px;
}

.menu-footer {
    width: 875px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.menu-footer-item {
    padding-bottom: 12px;
}

.menu-footer-item:hover {
    border-bottom: 1px solid #3181A6;
}

.menu-footer-item-link {
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
}

.menu-footer-item-link:hover {
    color: #3181A6;
}

.copyright {
    color: #010101;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding-right: 40px;
}